<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tricycle.gate.mapper.mysql.MysqlGateMapper">
    <select id="getSample" resultType="int">
        SELECT 1
    </select>

    <select id="getTables" resultType="java.util.Map">
        SHOW TABLES
    </select>
    
    <insert id="insertPartnerConnCount" parameterType="java.util.Map">
        INSERT INTO ecomms.tsy_partner_conn (
            partner_id
            ,site_cd
            ,device_cd
        ) VALUES (
            #{partnerId}
            ,#{siteCd}
            ,#{deviceCd}
        )
    </insert>
</mapper>