<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tricycle.gate.mapper.mysql.MysqlGateMapper">
    
    <insert id="insertPartnerConnCount" parameterType="java.util.Map">
        <selectKey resultType="long" keyProperty="seq" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>

        INSERT INTO ecomms.tsy_partner_conn (
            partner_id
            ,site_cd
            ,device_cd
            ,client_ip
            ,user_agent
            ,referrer_url
            ,pcid
            ,uid
            ,url_parameter
        ) VALUES (
            #{partnerId}
            ,#{siteCd}
            ,#{deviceCd}
            ,#{clientIp}
            ,#{userAgent}
            ,#{refererUrl}
            ,#{pcid}
            ,#{uid}
            ,#{urlParameter}
        )
    </insert>

    <select id="getGateMappingTables" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT *
        FROM ecomms.tmk_gate_mapping mapping
        WHERE 1=1
        <if test="siteCd != null and siteCd != ''">
            AND mapping.site_cd = #{siteCd}
        </if>
        <if test="deviceCd != null and deviceCd != ''">
            AND mapping.device_cd = #{deviceCd}
        </if>
        <if test="type != null and type != ''">
            AND (LCASE(mapping.type) = LCASE(#{type}) OR LCASE(mapping.type) = 'home')
        </if>
        <if test="partnerid != null">
            AND mapping.partner_id = #{partnerid}
        </if>
    </select>

    <select id="getPartnerIdDetail" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT *
        FROM ecomms.t_partnercommi partner
        WHERE partner.partnerid = #{partnerId}
    </select>
    
    <insert id="insertExcptLog" parameterType="java.util.Map">
        
        INSERT INTO ecomms.tmk_gate_excpt_log (
            log_seq
            ,create_dt
            ,log_type
        ) VALUES (
           CAST(#{log_seq} AS UNSIGNED)
           ,now()
           ,#{log_type}
        )
    </insert>
</mapper>